[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
jupyter-nbextensions-configurator = "*"
ipykernel = "*"
ipython = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
rise = "*"
sklearn = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.6"
